body {
  background: #F2F2F2;
  color: #1A2601;
  font-family: 'Catamaran', sans-serif;
}

header {
  background: url("https://i.imgur.com/6SP7ZDw.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 154px 0 100px;
  color: #F2F2F2;
  font-family: 'Catamaran', sans-serif;
  font-size: 20px;
  height: 500px;
  text-align: center;
  text-shadow: .5px .5px 1px #0A0B0D, 0 0 .5em #1A2601, 0 0 0.2em #1A2601;;
}

.project-head {
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  text-shadow: 1.25px 1.25px 2.5px #0A0B0D, 0 0 1em #1A2601, 0 0 0.2em #1A2601;
}

.skills-head{
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
}

h1 {
  color: #F2F2F2;
  font-family: 'Catamaran', sans-serif;
  font-size: 50px;
  font-weight: 700;
  margin-top: 90px;
  text-shadow: 1.25px 1.25px 2.5px #0A0B0D, 0 0 1em #1A2601, 0 0 0.2em #1A2601;
}
/*
h1 {
  color: #0A0B0D;
  font-family: 'Catamaran Bold', sans-serif;
  font-size: 50px;
  text-shadow: 1.25px 1.25px 2.5px #F2F2F2;
} */

a {
  color: #F2F2F2;
  display: block;
  text-align: center;
}

.resume {
  background: #667339;
  border: 1px solid #1A2601;
  border-radius: 5px;
  color: #F2F2F2;
  font-size: 20px;
  margin: 5px auto;
  padding: 3px;
  text-decoration: none;
}

.portrait {
  align-items: center;
  border: 2px solid #1A2601;
  margin-left: 60px;
  width: 180px;
}

.project-section {
  background-color: #1A2601;
  color: #F2F2F2;
}

nav {
  background-color: #0A0B0D;
  clear: right;
  float: right;
  font-family: 'Catamaran', sans-serif;
  opacity: 0.9;
}

footer {
  background-color: #1A2601;
}

.footer-text {
  text-shadow: 1.25px 1.25px 2.5px #0A0B0D, 0 0 1em #1A2601, 0 0 0.2em #1A2601;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 150px 0;
}

/* @font-face {
    font-family: "Catamaran";
    src: url("./Catamaran/Catamaran-Bold.ttf");
} */

/* .pht {
  align-items: center;
  margin: auto;
	display: block;
} */

.image-placeholder {
    background-color: #eee;
    border: 2px solid white;
    display: block; */
    float: left;
    height: 190px;
    margin: auto;
    width: 220px;
}

.links-external {
  align-items: center;
  clear: both;
  display: flex;
  float: left;
  height: 20px;
  margin: 5px;
  text-align: center;
  width: 220px;
}

.external-link-project {
  background: #667339;
  border: 2px solid #1A2601;
  border-radius: 5px;
  clear: both;
  float: left;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
  width: auto;
}

.photo-placeholder {
    background-color: #eee;
    border: 2px solid black;
    clear: right;
    display: flex;
    float: right;
    height: 190px;
    margin: 5px;
    width: 220px;
}

.project-name {
  text-align: center;
  text-decoration: underline;
}


/* .text-placeholder {
    /* display: flex;
    float: left; */
    /* height: 100px; */
    /* margin: 5px;
    width: 220px;
} */

.image-placeholder > h4 {
    align-self: center;
    text-align: center;
    width: 100%;
}

.hello {
  font-size: 50px;
  text-align: center;
}

.icon {
  text-align: center;
  float: left;
  font-size: 70px;
}

.devicon {
  margin: 20px;
}

.lead {
  text-align: justify;
}

.project-desc {
  padding: 0 15px;
  text-align: justify;
}

.contact-section {
  background-color: #667339;
  color: white;
  font-family: 'Catamaran', sans-serif;
  text-shadow: .75px .75px 1.25px #0A0B0D, 0 0 .5em #1A2601, 0 0 0.1em #1A2601;

}

.end {
  height: 100px;
  padding: 0;
}

.contact-info {
  font-size: 20px;
}
